.table {
    display: table;
    box-sizing: border-box;
    border-spacing: 2px;
    text-indent: initial;
    padding: 0.25em 0.45em;
    text-align: center;
    border-collapse: collapse;
    margin: 1em 0;
    border: none;
    background-color: #313e59;
    color: #cbd9f4;
}
  
.table-img{
    max-width: 40px;
    max-height: 40px;
    padding: 2px;
    vertical-align: middle;
    width: auto;
    height: auto;
}
  
.table > * > tr > td{
    border: 1px solid #172136;
    line-height: 1.75;
}
  
.table > * > tr > th{
    border: 1px solid #172136;
    line-height: 1.75;
}
  
.table-link{
    color: #8cabe6;
    text-decoration: none;
}

.hoverable-row:hover{
    background-color: #396e0a;
}
  
.table-title{
    font-size: 125%;
    padding:5px;
}
  